.about {
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 20px;
  height: 600px;
  text-align: center;
}

.more-btn {
  margin-top: 40px;
  font-size: 24px;
  background-color: transparent;
  border-radius: 20px;
  border: 2px #ffff solid;
  color: white;
  width: 150px;
  height: 50px;
  align-items: center;
}

.more-btn:hover {
  background-color: #ffffff;
  color: #282d35;
  transition: 0.5s;
}

.about a {
  text-decoration: none;
}

.about p {
  margin: 0;
  font-size: 24px;
}
