footer {
  /* Sticking to the Bottom */
  padding: 1rem;
  background-color: #21222a;
  bottom: 0;
  left: 0;
  /* Displaying Content */
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer--section {
  padding: 0 20px;
}

.footer--section > h3 {
  color: #61dafb;
}

.footer--section > ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.footer--section li a {
  margin-left: 4px;
}

.footer--section li svg {
  padding-top: 6px;
}
