.members-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.members-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 480px) {
  .members-list {
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
  }
}

.members--title {
  text-align: center;
}
