nav {
  background-color: #21222a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

nav img {
  height: 56px;
}

nav h1 {
  margin: 0;
  padding: 1rem;
  color: #61dafb;
  font-size: 2rem;
  text-decoration: none;
}

nav h3 {
  color: #deebf8;
}

.links {
  display: flex;
  gap: 1rem;
}
