.projects {
  background-color: #ffffff;
  padding: 20px;
  margin: 0;
}

.projects h1,
.projects a {
  color: #282d35;
}

.project-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 980px) {
  .project-list {
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
  }
}

.project--title {
  text-align: center;
}
