.project-card {
  padding: 1vw;
  margin: 2vw;
  border: 4px solid #282d35;
  border-radius: 5px;
  text-align: center;
  line-height: 60%;
  max-width: 260px;
  color: #282d35;
}

.project-card > img {
  height: 256px;
  max-width: 256px;
}

.project-card p {
  line-height: normal;
}

.project-card h3 {
  font-weight: 100;
  color: #f3bf99;
}

.project-card button {
  background-color: transparent;
  border: 1px solid #282d35;
  border-radius: 30px;
  width: 124px;
  height: 30px;
  color: #282d35;
}

.project-card button:hover {
  color: #ffffff;
  background-color: #282d35;
  transition: 0.5s;
}

.project-card a > button {
  text-decoration: none;
}

.content--info > ul {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
